<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <img src="../assets/images/navbar-image.png">
      <a class="navbar-brand" href="/src/index.html" title="Home">TMBD</a>
    </div>

    <div>
<!-- si no esta logiado -->
      <form class="navbar-form navbar-right" >
        <div class="row">
          <div class="input-group-btn">
            <input type="text" class="form-control" name="username" placeholder="Username">
            <input type="text" class="form-control" name="password" placeholder="Password">
            <button type="submit" class="btn btn-secondary">Sign In</button>
          </div>
        </div>
      </form>

<!-- si no esta logiado, muestra nombre y logout -->

    </div>
</nav>
