<nav class="navbar navbar-expand-md static-top navbar-dark bg-dark">
  <div class="container">
    <div>
      <img src="../assets/images/navbar-image.png">
      <a class="navbar-brand" href="/src/index.html" title="Home">TMBD</a>
    </div>

    <div>
<!-- si no esta logiado -->
      <form class="navbar-form navbar-right" >
        <div class="row">
          <div class="input-group-btn">
            <button (click)="login()" class="btn btn-secondary">Sign In</button>
          </div>
        </div>
      </form>
<!-- si no esta logiado, muestra nombre y logout -->
{{prueba}}

{{prueba2}}
    </div>
  </div>
</nav>
